<div class='thumb-wrapper'>
  <div class='thumb-image'>
    <div class='embed-responsive embed-responsive-16by9'>
      <iframe class='embed-responsive-item' src='<%= video.url %>'></iframe>
    </div>
  </div>
  <div class='thumb-description text-center'>
    <%= video.comment %>
  </div>
</div>
