<div class='form-group'>
  <%= form.label :category, class: 'col-sm-2 control-label' %>
  <div class='col-sm-10'>

    <% if category %>

      <p class='form-control-static'><%= category.name %></p>
      <%= form.hidden_field :category_id, value: category.id %>

    <% else %>

      <%= form.collection_select :category_id, categories, :id, :name,
                                 { prompt: true }, class: 'form-control leader' %>

    <% end %>

  </div>
</div>
