<div class='thumb-wrapper'>
  <div class='thumb-image'>
    <%= image_tag photo.url, alt: photo.title, class: 'img-responsive center-block' %>
  </div>
  <div class='thumb-description text-center'>
    <%= photo.comment %>
  </div>
</div>
