<h1>
  <%= distributor.information %>
  <small class='pull-right'>
    <%= link_to distributor.url, distributor.url %>
  </small>
</h1>
<h2>Contacts:</h2>
<address>
  <p>
    <strong>email:</strong>
    <br>
    <%= distributor.email %>
  </p>
  <p>
    <strong>phone:</strong>
    <br>
    <%= distributor.phone %>
  </p>
</address>
