<div class="buying-guides-left-column">
    <div class="buying-list">
        <span class="buying-list-header">Piter Bikes</span>
        <ul>
            <li><a href="#">Mountain Bikes</a></li>
          <li> <a href="#">City Bikes</a></li>
        </ul>
    </div>
    <div class="buying-list">
        <span class="buying-list-header">Piter Snowboard</span>
        <ul>
            <li><a href="#">Mountain Bikes</a></li>
          <li> <a href="#">City Bikes</a></li>
        </ul>
    </div>
    <div class="buying-list">
        <span class="buying-list-header">Piter Ski</span>
        <ul>
            <li><a href="#">Skis</a></li>
            <li><a href="#">Ski Boots</a></li>
        </ul>
    </div>
</div>
<div class="buying-guides-right-column">
    <div class="buying-list">
        <span class="buying-list-header">Piter Surf</span>
        <ul>
            <li><a href="#">Surfboards</a></li>
          <li><a href="#">Wetsuits</a></li>
        </ul>
    </div>
    <div class="buying-list">
        <span class="buying-list-header">Piter Longboards</span>
        <ul>
            <li><a href="#">Longboards</a></li>
        </ul>
    </div>
</div>

