<header>
    <div class="flex black-header-stripe">
        <div class="mobile-burger-menu">
            <span></span><span></span><span></span>
        </div>
        <div class="mobile-filter-button"></div>
        <div class="red-man-logo">
            <%= link_to image_tag("white_logo.png", alt: "main-background"), root_path %>
        </div>
        <div class="bying-guides-btn-wrapper">
            <button id="buying-guides" type="button" class="btn btn-default">Buying Guides</button>
        </div>
        <div class="compare-button-wrapper">
            <button id="compare-button" type="button" class="btn btn-default">Compare Products</button>
        </div>
        <div class="search-field-wrapper">
            <input type="text" class="search-field form-control" placeholder="Search...">
        </div>
        <div class="upload-btn-wrapper">
            <button type="button" class="btn btn-warning upload-btn">Upload</button>
        </div>
        <%= render 'layouts/nav_links_for_auth' %>
    </div>
    <div class="buying-guides-block-wrapper">
      <%= render 'layouts/buying_guides' %>
    </div>
    <div class="compare-block-wrapper">
      <%= render 'layouts/buying_guides' %>
    </div>
</header>
