<header>
    <div class="flex black-header-stripe">
        <div class="mobile-burger-menu">
            <span></span><span></span><span></span>
        </div>
        <div class="mobile-filter-button"></div>
        <div class="red-man-logo">
            <%= image_tag "white_logo.png", alt: "main-background" %>
        </div>
        <div class="bying-guides-btn-wrapper">
            <button id="buying-guides" type="button" class="btn btn-default">Buying Guides</button>
        </div>
        <div class="compare-button-wrapper">
            <button id="compare-button" type="button" class="btn btn-default">Compare Products</button>
        </div>
        <div class="search-field-wrapper">
            <input type="text" class="search-field form-control" placeholder="Search...">
        </div>
        <div class="upload-btn-wrapper">
            <button type="button" class="btn btn-warning upload-btn">Upload</button>
        </div>
        <div class="login-btn-wrapper">
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= current_user.name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </div>
        <% else %>
            <button type="button" class="btn login-btn" data-toggle='modal' data-target='#SignInModal'>Log in</button>
        <% end%>
        </div>
    </div>
    <div class="buying-guides-block-wrapper">
        <div class="buying-guides-left-column">
            <div class="buying-list">
                <span class="buying-list-header">Piter Bikes</span>
                <ul>
                    <li><a href="#">Mountain Bikes</a></li>
                  <li> <a href="#">City Bikes</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Snowboard</span>
                <ul>
                    <li><a href="#">Mountain Bikes</a></li>
                  <li> <a href="#">City Bikes</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Ski</span>
                <ul>
                    <li><a href="#">Skis</a></li>
                    <li><a href="#">Ski Boots</a></li>
                </ul>
            </div>
        </div>
        <div class="buying-guides-right-column">
            <div class="buying-list">
                <span class="buying-list-header">Piter Surf</span>
                <ul>
                    <li><a href="#">Surfboards</a></li>
                  <li><a href="#">Wetsuits</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Longboards</span>
                <ul>
                    <li><a href="#">Longboards</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="compare-block-wrapper">
        <div class="buying-guides-left-column">
            <div class="buying-list">
                <span class="buying-list-header">Piter Bikes</span>
                <ul>
                    <li><a href="#">Mountain Bikes</a></li>
                    <li><a href="#">City Bikes</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Snowboard</span>
                <ul>
                  <li><a href="#">Mountain Bikes</a></li>
                    <li><a href="#">City Bikes</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Ski</span>
                <ul>
                    <li><a href="#">Skis</a></li>
                  <li><a href="#">Ski Boots</a></li>
                </ul>
            </div>
        </div>
        <div class="buying-guides-right-column">
            <div class="buying-list">
                <span class="buying-list-header">Piter Surf</span>
                <ul>
                    <li><a href="#">Surfboards</a></li>
                    <li><a href="#">Wetsuits</a></li>
                </ul>
            </div>
            <div class="buying-list">
                <span class="buying-list-header">Piter Longboards</span>
                <ul>
                    <li><a href="#">Longboards</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
