<div class="compare-button-wrapper">
    <button id="categories-button" type="button" class="btn btn-default">Categories</button>
</div>
<div class="categories-block-wrapper">
  <%= render 'layouts/buying_guides' %>
</div> 
<div class="search-field-wrapper">
    <input type="text" class="search-field form-control" placeholder="Search...">
</div>
