<div class="compare-button-wrapper">
    <button id="compare-button" type="button" class="btn btn-default">Categories</button>
</div>
<div class="search-field-wrapper">
    <input type="text" class="search-field form-control" placeholder="Search...">
</div>
